ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    outline: none;
    border: none;
}



/*** NAVBAR ***/

nav {
    background-color: black;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 80px;
}

nav ul {
    display: flex;
    margin-bottom: 0;

}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    align-items: center;
    color: #ffffff;
}

nav ul li a::after {
    content: "";
    width: 1px;
    height: 13px;
    background-color: #fff;
    display: inline-block;
    margin-left: 19px;
    margin-right: 19px;
}

nav ul li:last-child a::after {
    display: none;
}

.active,
a:hover {
    color: #4ec1e0;
    transition: .5s;
}

.fas {
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    label.logo {
        font-size: 30px;
        padding: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }

    nav ul {

        position: absolute;
        display: none;
        left: 0;
        top: 80px;
    }

    nav .showing{
        display: block;
    }

    .fas {
        display: block;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 50vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 4;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}


/** BG + PHONE + TEXT**/
.phone {
    background-image: url(../images/bluebg.png);
    height: 469px;
    background-size: cover
}

.phone-img {
    padding: 36px 0 0 0;
}

.phone-text h1 {
    color: white;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.phone-text p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #161b1d;
    align-items: center;
}

/** BUTTONS **/

.btn {
    text-decoration: none;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.btn-primary {
    color: white;
    background-color: black;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 47px;

}

.btn-secondary {
    background-color: #4ec1e0;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;

    padding: 8px 36px;

}


.column {
    float: left;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 50%;
}

/*** Services ***/
.services {
    padding: 60px 0 33px;
}

.services-title {
    margin: 0 0 55px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #676f75;
    font-size: 48px;
    text-transform: uppercase;
}


.pic {
    color: #16deec;
    text-align: center;
    color: #4cc0e0;
    border: 11px solid #4cc0e0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
    margin-bottom: 32px;
}


.type {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #4ec1e0;
    margin-bottom: 32px;
}

.typetext {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 32px;
}


/** CONTACT FORM **/

.contact {
    background-image: url(../images/footerbg.png);
    background-repeat: no-repeat;
    padding: 58px 0 30px 0;
    background-size: cover
}



.contactheader h1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #4ec1e0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contacttext {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 35px;
}


label {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.form-control {
    max-width: 524px;
    height: 44px;
    border-radius: 0;
    margin-bottom: 16px;
}

.form-item textarea {
    resize: none;
    height: 136px;
    margin-bottom: 25px;
}

.c-btn {
    background-color: #7fb618;
    color: white;
    padding: 10px 79px;
    cursor: pointer;
    text-transform: uppercase;


}

/** FOOTER **/
.Copyright {
    font-size: 12px;
    line-height: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #6f6f6f;
    text-align: center;
    padding: 34px 0 34px 0;
}

/** MOBILE (RESPONSIVE) **/
@media only screen and (max-width: 899px) {
    .phone-img {
        display: none;
    }

    .phone {
        background-image: url(../images/bluebg.png);
        height: 300px;
    }



    .contactheader h1 {
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        color: #4ec1e0;
        font-weight: bold;
        text-align: center;
    }

    .contacttext {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        color: #ffffff;
        text-align: center;
    }
}